@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculator {
	background: cadetblue;
	padding: 20px;
	border-radius: 10px;
}

.calculator form input {
	border: 0;
	outline: none;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	box-shadow: -8px -8px 15px rgba(255, 255, 255, .1), 5px 5px 15px rgba(0, 0, 0, .2);
	background-color: transparent;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	margin: 10px;
}

form .display {
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
}

form .display input {
	text-align: right;
	flex: 1;
	font-size: 40px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

form input.equal {
	width: 145px;
}

